@charset "UTF-8";

* {
    text-decoration: none;
}
body {
    background-color: rgb(37, 36, 36);
    color: white;
}

h1 {
    font-size: 38px;
}
abbr, .etc {
    color: yellow;
}
p {
    text-align: justify;
}
p span {
    color: red;
}

